<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="ESV Tests" parallel="false">
    <test name="ESV Service">
        <classes>
            <class name="ru.voskhod.tests.esv.SimpleTests">
                <methods>
                    <include name="verifyCertificate.*"/>
                    <include name="verifyCMSSignature.*"/>
                    <include name="verifyCMSSignatureDetached.*"/>
                    <include name="verifyCMSSignatureByHash.*"/>
                    <include name="verifyXAdES.*"/>
                    <include name="verifyXMLSignature.*"/>
                    <include name="verifyPAdES.*"/>
                    <include name="verifyTimeStamp.*"/>
                    <include name="verifyWSSSignature.*"/>
                    <include name="verifyCAdES.*"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>